h1 .text-yellow{
	width: 660px;
	height: 80px;
	background-color: $grey;
}

.text-yellow{
	width: 100%;
}
.about{
	background-color: #eff3f3;
	padding: 8% 5%;
}

.services div{
	padding-top: 110px;
}


.services img{
	margin-bottom: 30px;
}


.services h4{
	margin-bottom: 15px;
}

#unlimited-revisions{
	padding-top: 65px;
	img{

		margin-bottom: 62px;
	}
}




@media (max-width: 991px) {
.services img{
		max-height: 75px;
	}

#unlimited-revisions{
	padding-top: 110px;
	img{
		margin-bottom: 30px;
		width: 75px;
	}

	

}

}

@media (max-width: 767px) {
	.about{
		padding-top: 20%;
	}

	h3{
		line-height: 33pt;
	}

	.services{
		padding: 0px 15%;
	}

	.services div{
		padding-top: 60px;
	}

	.services img{
		margin-bottom: 0px;
	}

	.service{
		margin-top: 50px;
	}

	.service h4{
		margin-bottom: 0px;
	}

	#retina-ready{
		min-height: 300px;
	}

	#unlimited-revisions{
		padding-top: 60px;
	img{
		margin-bottom: 0px;
	}
}


}

@media (max-width: 500px) {
	
	.services div{
		padding-top: 30px;
	}

	.services {
		padding: 0;
	}
	
	#unlimited-revisions{
	padding-top: 30px;
	img{
		margin-bottom: 0px;
		width: 75px;
	}


}

}



