
/* colors */
$darkgrey: #3f3f3f;
$yellow: #f9c741;
$darkgrey: #555555;
$grey: #3f3f3f;
$lightgrey: #999999;

@import 'typography';


html, body { overflow-x: hidden; }
.row {
  padding-right: 0px;
  margin-right: 0px;
}



body .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
}



	.btn {
		height: 50px;
		border-radius: 40px;
		background-color: $yellow;
		color: white;
		$font-family: $raleway;
		font-size: 12px;
		font-weight: 800;
		line-height: 25px;

	}