/* ==========================================================================
   NAVIGATION
   ========================================================================== */

#top-content .intro-image img{
	width: 100%;
}

.navigation {
	height: 87px;
	background-color: $darkgrey;
	margin: 0px;


	ul{
		padding: 0px;
		padding: 0px 5%;
		text-align: center;

		li {
			text-align: center;
			list-style-type: none;
		a{
			color: white;
			font-family: $opensans;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}

			img{
				padding: 0px;
				margin: 0px;
				-webkit-box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.45);
				-moz-box-shadow:    0px 5px 23px 0px rgba(50, 50, 50, 0.45);
				box-shadow:         0px 5px 23px 0px rgba(50, 50, 50, 0.45);
				border-radius: 0px 0px 7px 7px;
		}
	}
}
}

.lorem-logo-xs {
 	display: none;
}

.navigation ul li a:hover {
	color:  $yellow;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px solid $yellow;
	padding-top: 5px;
	border-top: 1px solid $yellow;
}

.navigation ul li img:hover {
-webkit-box-shadow: 0px 7px 18px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 7px 18px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 7px 18px 0px rgba(50, 50, 50, 0.71);
}

/* Screen Size Adjustments
   ========================================================================== */



@media (max-width: 992px) {

	.navigation .col-sm-2, .navigation .col-sm-1 {
	padding-left: 0px;
	padding-right: 0px;
	}

	.navigation .facts{
		margin-left: -15px;

	}

  .navigation ul li {
  	font-size: 12px;
  }
  	.navigation ul {
		padding: 0;
	}

}



@media (max-width: 767px) {

	.navigation{
		height: 87px;
	}


  .navigation ul li {
  	font-size: 13px;
  	padding-top: 8px;
  }
  .lorem-logo-sm{
  	display: none;
  }

  .navigation ul .lorem-logo-xs {
  	display: block;
  	padding-top: 0; 
  }

  	.navigation .facts{
		margin-left: 0px;

	}
}









/* ==========================================================================
   FOOTER
   ========================================================================== */


footer{
	vertical-align: middle;
}

footer .social{
	height: 173px;
	background-color: $yellow;
	vertical-align: middle;
	padding-top: 70px;
	text-align: center;
}

footer i {
	margin-right: 55px;
	color: white;
}


footer i:hover {
	color: $grey;
	cursor: pointer;
}

footer .white-bar{
	height: 15px;
	color: white;
}



/* Screen Size Adjustments
   ========================================================================== */


@media (max-width: 767px) {
footer .social{
	padding-bottom: 50px;

}

footer i {
	margin: 0px;
	padding: 0px;
	padding-right: 15px;
}


}


