@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);


$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;


h2, h3, h4, h5 {	
	font-family: $raleway;
}

h2{
	font-size: 36px;
	line-height: 70px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	margin-top: 0px;
}

h3{
	font-size: 22px;
	line-height: 36px;
	font-weight: 300;
	color: $lightgrey;
	margin: 0px;
}

h4{
	font-size: 14pt;
	font-weight: 600;
	line-height: 25pt;
	color: $darkgrey;
}

h5{
	font-size: 11pt;
	font-weight: 400;
	line-height: 18pt;
	color: $lightgrey;
}

h6{
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	color: white;
	font-family: $opensans;

}


.yellow-bold-text{
	color: $yellow;
	font-weight: 400;
}

.yellow-text{
	color: $yellow;
}

