/* Others */
.clearfix{
	clear: both;
}

.hidden {
	display: none;
}

.padding-right-15{
	padding-right: 15px;
}


.padding-top-30 {
	padding-top: 30px;
}

.padding-top-40 {
	padding-top: 40px;
}

.margin-right-20{
	margin-right: 20px;
}

.margin-top-75{
	margin-top: 75px;
}

.showProjectLorem {
	display: block;
}

.hideProjectLorem {
	display: none;
}