<div class="navigation row">
		<ul>
			<li class="col-xs-3 col-sm-2 lorem-logo-xs"><img src="/images/logo.png" alt="logo lorem studio"></li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Hello</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">About</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Services</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Works</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Pricing</li>
			<li class="col-xs-2 col-sm-2 lorem-logo-sm"><img src="/images/logo.png" alt="logo lorem studio"></li>
			<li class="col-xs-2 col-sm-1 padding-top-30 facts">Facts</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Clients</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Words</li>
			<li class="col-xs-2 col-sm-1 padding-top-30" >Blog</li>
			<li class="col-xs-2 col-sm-1 padding-top-30">Contact</li>
		</ul>

		
	</div>