<div class="navigation row">
		<ul>
			<li class="col-xs-3 col-sm-2 lorem-logo-xs"><img src="/images/logo.png" alt="logo lorem studio"></a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Hello</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">About</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Services</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Works</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Pricing</a></li>
			<li class="col-xs-2 col-sm-2 lorem-logo-sm"><img src="/images/logo.png" alt="logo lorem studio"></a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30 facts"><a href="#">Facts</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Clients</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Words</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30" ><a href="#">Blog</a></li>
			<li class="col-xs-2 col-sm-1 padding-top-30"><a href="#">Contact</a></li>
		</ul>
	</div>