<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lorem Studio</title>
	<link rel="stylesheet" href="/stylesheets/style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>
<body>
	<!-- <h1>title</h1> -->
<div id="top-content">
	<div class="intro-image"><img src="/images/main-content-image.jpg"></div>
	<div class="navigation">
		<img class="lorem-logo" src="/images/logo.png">
		<ul>
			<li>Hello</li>
			<li>About</li>
			<li>Services</li>
			<li>Works</li>
			<li>Pricing</li>
			<li class="lorem-logo-space">&nbsp;</li>
			<li>Facts</li>
			<li>Clients</li>
			<li>Words</li>
			<li>Blog</li>
			<li>Contact</li>
		</ul>
	</div>
</div>
	<div class="about">
		<h3>We are <span class="yellow-bold-text">creative people</span> with 5 years experiences in <span class="yellow-bold-text">web</span> and <span class="yellow-bold-text">mobile app development</span>.Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempori.</h3>
		<div class="services">
			<div id="many-variations">
				<img src="">
				<h4>Many Variations</h4>
				<h5> Excepteur sint occaecat cupidatat non proident sunt in culpa qui.</h5>
			</div>

			<div id="on-time">
				<img src="">
				<h4>On Time</h4>
				<h5> Excepteur sint occaecat cupidatat non proident sunt in culpa qui.</h5>
			</div>

			<div id="unlimited-revisions">
				<img src="">
				<h4>Unlimited Revisions</h4>
				<h5> Excepteur sint occaecat cupidatat non proident sunt in culpa qui.</h5>
			</div>

			<div id="retina-ready">
				<img src="">
				<h4>Retina Display</h4>
				<h5> Excepteur sint occaecat cupidatat non proident sunt in culpa qui.</h5>
			</div>
			<div id="full-support">
				<img src="">
				<h4>Full Support</h4>
				<h5> Excepteur sint occaecat cupidatat non proident sunt in culpa qui.</h5>
			</div>
		</div>
	</div>
	<div class="featured-projects">
		<h2>Awesome Works</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</h3>


		<button>Load More</button>
	</div>


	<div class="map">

	</div>

	<div class="contact">
		<h2>Get in Touch</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</h3>
		<form></form>
		<div class="contact-info">
			<div class="icon">
				<img src="/images/envelope.png">
				<h6>info@cocostudio.com</h6>
			</div>

			<div class="icon">
				<img src="/images/envelope.png">
				<h6>sales@cocostudio.com</h6>
			</div>

			<div class="icon">
				<img src="/images/location.svg">
				<h6>Bukir Gadingrejo 123</h6>
				<h6>Pasuruan Indonesia 654321</h6>
			</div>

			<div class="icon">
				<img src="/images/phone.svg">
				<h6>+62 - 0343 - 1234567</h6>
			</div>

			<div class="icon">
				<img src="/images/mundo.png">
				<h6>www.cocostudio.com</h6>
			</div>
		</div>
		<div class="social">
			<i class="fa fa-twitter fa-2x"></i>
			<i class="fa fa-facebook fa-2x"></i>
			<i class="fa fa-google-plus fa-2x"></i>
			<i class="fa  fa-linkedin fa-2x"></i>
			<i class="fa fa-dribbble fa-2x"></i>
			<i class="fa fa-instagram fa-2x"></i>
			 
		</div>
	</div>

	 <!-- include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- script for live reload -->
    <script src="//localhost:35729/livereload.js"></script> 


    </body>
</html>